{% extends 'base.html.twig' %}

{% block title %}Edit UserClient{% endblock %}

{% block body %}
<div class="containerForm mt-3">
    <h1>Modifier votre profil</h1>

    {{ include('user_client/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('user_client/_delete_form.html.twig') }}
    <a class="btn btn-outline-secondary mt-3" href="{{ path('app_show_provider') }}">Retour aux services proposés</a>

    

</div>
{% endblock %}
