.btn-outline-primary {
    background: linear-gradient(206deg, #5d6370 0%, #a5b3be 100%, #d8ebf2 100%);
    border-color: #747475;
    color: #ffffff;
    padding: 10px;
}

.btn-outline-primary:hover {
    border-color: #747475;
    color: #222529;
    filter: brightness(1.50);
}