.containerForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f7d7d7;
    border-radius: 5px;
    background-color: #d7f6fd;
}

label {
    width: 100%;
}

.bordered {
    border: 1px solid #ddd;
}

.bg-body-tertiary{
background: #020024;
background: linear-gradient(90deg,#020024 0%, #090979 49%, #00d4ff 100%);
color: white !important;
height: 80px;
}

.navbar-brand, .title {
    color: white !important;
}

li a.nav-link {
    color: white !important;
}