body {
    /* font-family: Georgia, serif; */
    /* font-family: serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    background: url('../images/background.jpg') no-repeat center center fixed;
}

.containerForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #6c757d4a;
    border-radius: 5px;
    background-color: #76ddff21;
    box-shadow: #94929b61 3px 4px 6px 3px;
}

label {
    width: 100%;
}

.bordered {
    border: 1px solid #ddd;
}

div.service {
    margin: auto;
    background: #FFF;
    background: linear-gradient(172deg, #ffffff 0%, #a7a7ab00 57%, #7a81821f 109%);
    width: 30%;
    box-shadow: #94929b61 3px 4px 6px 3px;
    border: 1mm ridge #09097900 ! important;
}

.form-signin {
    margin: auto;
}

h1 {
    color: #475772;
    /* color: #222529; */
}