.containerForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f7d7d7;
    border-radius: 5px;
    background-color: #d7f6fd;
}

label {
    width: 100%;
}

.bordered {
    border: 1px solid #ddd;
}

.bg-body-tertiary {
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #090979 49%, #00d4ff 100%);
    color: white !important;
    height: 80px;
}

.navbar-brand,
.title {
    color: white !important;
}

li a.nav-link {
    color: white !important;
}

div.service {
    margin: auto;
    background: #FFF;
    background: linear-gradient(172deg,#ffffff 0%, #a7a7ab38 57%, #7a81823f 109%);
    /* background: linear-gradient(177deg,rgba(255, 255, 255, 1) 0%, rgba(167, 167, 171, 1) 97%, rgba(122, 129, 130, 1) 100%); */
    width: 50%;
    border: 1mm ridge #d1d1d1 !important;
}