{% extends 'base.html.twig' %}

{% block title %}Edit ServiceProvider{% endblock %}

{% block body %}
<div class="containerForm mt-3">
    <h1>Modifier votre profil</h1>

    {{ include('service_provider/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('service_provider/_delete_form.html.twig') }}
    <a class="btn btn-outline-secondary mt-3" href="{{ path('app_show_clients') }}">Retour aux demandes de services</a>

   
</div>
{% endblock %}
